extends layout
block content
	div.articles
		-each post in posts
			article
				header.entry-header
					h3.title
						a(href=post.type=="blog" ? "/post/"+post._id : "javascript:") #{post.postTitle}
					div.entry-meta
						span 由
						a.date(href="/user/"+post.author._id) #{post.author.userName}
						span  发表于
						span.date #{dateTimeFormat(post.createTime)}
				div.entry-content
					div #{post.description}
				footer.entry-meta
					span.tags 标签：
						if(post.tags)
							-each tag in post.tags
								a(href="/tag/"+tag._id, class=getRandomLabelStyle()) #{tag.tagName}
					span.reply  | 回复：
						span(class=getrandomBadgeStyle()) #{post.reply}
					span  | 浏览：
						span #{post.hits}

