extends layout
block content
	article
		header.entry-header
			h3.title #{post.postTitle}
			div.entry-meta
				span 由
				a.date(href="/user/"+post.author._id) #{post.author.userName}
				span  发表于
				span.date #{dateTimeFormat(post.createTime)}
				span.tags  | 标签：
					if(post.tags)
						-each tag in post.tags
							a(href="/tag/"+tag._id, class=getRandomLabelStyle()) #{tag.tagName}
				span.reply  | 回复：
					a(href="#comment",class=getrandomBadgeStyle()) #{post.reply}
				span  | 浏览：
					span #{post.hits}
				a.edit(href="javascript:") 编辑
		div.entry-description
			| #{post.description}
		div.entry-content
			| !{post.content}
		a(name="#comment",id="comment")
		div.entry-comment
			div#post-reply-total.entry-comment-total
			div#post-reply
			div#comments-page.pagination
			script
				commentsPagination("#{post._id}",#{user == null ? false : true});
		-if(user)
			form
				div.new-comment
					input(type="hidden",id="post-id",value=post._id)
					input(type="hidden",id="reply-to",value=post.author.userName)
					button#new-comment-reset.hide(type="reset")
					legend 新增回复
					div#new-comment-editor
					div.control-group.error
						div.controls
							p#new-comment-error.help-block 
					div.form-actions
						a#new-comment-reply.btn(href="javascript:",data-loading-text="发表中...") 发表回复
				script
					$("#new-comment-editor").load("/post/editor/new-reply");
